.obsahPodOusky {
    padding: 1rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0, transparent);

    text-align: center;
}

.podFiltrem {
    table {
        width: 100%;
    }
    .mat-elevation-z15 {
        margin: 1rem 0;
    }
    .mat-elevation-z1 {
        margin: 0.05rem 0.5rem;
    }
    .zaznam {
        transition: all 0.2s ease;
        overflow: hidden;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0, transparent);

        .folder {
            font-size: 2.9rem;
        }
        .pocet {
            background-color: #ee3024;
            border-radius: 1rem;
            color: white;
            width: 1rem;
            height: 1rem;
            display: block;
            text-align: center;
            position: absolute;
            top: 2.9rem;
            left: 3rem;
            opacity: 1;
            transition: opacity 0.2s ease, top 0.5s ease;
        }

        .vpravo {
            text-align: right;
        }

        .mat-card-content {
            margin-bottom: 0;
        }
        .mat-card-actions {
            max-height: 0;
            transition: all 0.2s ease;
            padding-top: 0;
            overflow: hidden;
        }
        .mat-button:hover {
            background-color: rgb(228, 228, 228);
        }
    }

    .zaznam.aktivni {
        transition: all 0.2s ease;
        overflow: hidden;

        .pocet {
            opacity: 0;
            top: 3.5rem;
            transition: opacity 0.2s ease, top 0.2s ease;
        }
        .mat-card-content {
            margin-bottom: 0;
        }
        .mat-card-actions {
            max-height: 3rem;
            transition: all 0.2s ease;
            padding-top: 1rem;
        }

        .mat-button:hover {
            background-color: rgb(228, 228, 228);
        }
    }

    .zaznam.mat-elevation-z1 {
        cursor: pointer;
    }
}

@media only screen and (max-width: 40em) {
    .podFiltrem {
        .zaznam {
            .vpravo {
                text-align: left;
            }
        }
    }
}
