<mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Aktuální">
        <div class="obsahPodOusky">
            <div fxLayout.="row" fxLayoutGap="1rem">
                <div fxFlex="20rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Hledaný text</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>
                <div fxFlex="20rem">
                    
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>V kategorii</mat-label>
                        <mat-select [ngModel]="filtrKategorie">
                          <mat-option *ngFor="let k1 of kategorie" [value]="k1.id">{{k1.nazev}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Ke dni">
        <div class="obsahPodOusky">
            <div fxLayout="row" fxLayoutGap="1rem">
                <div fxFlex="20rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Ke dni</mat-label>
                        <input matInput >
                    </mat-form-field>

                </div>
                <div fxFlex="20rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Hledaný text</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>
                <div fxFlex="20rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>V kategorii</mat-label>
                        <mat-select [ngModel]="filtrKategorie">
                          <mat-option *ngFor="let k1 of kategorie" [value]="k1.id">{{k1.nazev}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Hledat">
        <div class="obsahPodOusky">
            <div fxLayout="row" fxLayoutGap="1rem">
                <div fxFlex="15rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Hledaný text</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>
                <div fxFlex="15rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Značka</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>
                <div fxFlex="15rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Adresát</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>

            </div>
            <div fxLayout="row" fxLayoutGap="1rem">
                <div fxFlex="15rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Zveřejněno od</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>
                <div fxFlex="15rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Zveřejněno do</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="1rem">
                <div fxFlex="15rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>V kategorii</mat-label>
                        <mat-select [ngModel]="filtrKategorie">
                          <mat-option *ngFor="let k1 of kategorie" [value]="k1.id">{{k1.nazev}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div fxFlex="15rem">
                    <mat-form-field appearance="fill" class="plnaSire">
                        <mat-label>Původce</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>
            </div>
        </div>



    </mat-tab>
</mat-tab-group>




<div class="podFiltrem">
    <mat-card (click)="rozkliknoutZaznam(z1)" class="zaznam" *ngFor="let z1 of zaznamy"
        [ngClass]="{'mat-elevation-z15': vybranaPolozka(z1), 'mat-elevation-z1':!vybranaPolozka(z1), 'aktivni': vybranaPolozka(z1)}">
        <mat-card-content>
            <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" >
                <div fxFlex="4rem" class="">
                    <span *ngIf="vybranaPolozka(z1)" class="material-icons folder">
                        folder_open
                    </span>
                    <span *ngIf="!vybranaPolozka(z1)" class="material-icons folder">
                        folder
                    </span>
                    <span class="pocet" *ngIf="pocetPriloh(z1) > 0">{{pocetPriloh(z1)}}</span>
                </div>
                <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" >

                </div>
                <div class="vlevo">
                    <strong>{{z1.nazev}}</strong><br/>
                    {{z1.kategorie}}<br/>
                    {{z1.vyvesitOd}}<br/>
                </div>
                <div fxFlex fxLayoutAlign.gt-xs="end end" class="vpravo">
                    {{z1.znacka}}<br/>
                    {{z1.puvodce}}
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions style="padding-left: 3.35rem;">
            <button mat-button *ngFor="let p1 of z1.prilohy" [matTooltip]="tooltipKTlacitkuSouboru(p1)">
                <span class="material-icons cervenyText">
                    text_snippet
                </span>&nbsp;
                <strong>{{p1.nazevSouboru}}</strong> ({{velikostSouboruLidsky(p1.velikost)}})</button>
            
        </mat-card-actions>
    </mat-card>



</div>