<div class="bg">
    <div class="dekoraceStranky"></div>
    <div class="dekoraceStranky2"></div>
  
  
  
    <div class="obsahovyPruh">
      <div class="hlavicka">
        <div fxLayout="row">
          <div fxFlex.lt-sm="15rem" fxFlex.gt-xs="23rem">
            <div class="oblastLoga">
              <div class="tlacitko">
                <img class="logo" src="/assets/logo_olomouc.svg" alt="" width="50%">
                <span class="nadpis">Úřední deska</span>
              </div>
            </div>
          </div>
          <div fxFlex.lt-sm="*" fxFlex.gt-xs="*"></div>
          <div fxFlex.lt-sm="6rem" fxFlex.gt-xs="15rem">
            <div class="stavKeDni">
              Stav k 11.04.2021
            </div>
          </div>
        </div>
      </div>
      <div class="stranka">
        <app-filtrovany-prehled></app-filtrovany-prehled>
      </div>
  
      <div class="paticka">
  
      </div>
    </div>
  </div>