.bg {
    .dekoraceStranky {
        height: 15rem;

        background-image: url(/assets/bg1.jpg);
        background-position-y: bottom;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dekoraceStranky2 {
        background-color: rgba(38, 56, 99, 0.8);
        height: 15rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .obsahovyPruh {
        margin: auto;
        margin-top: -15rem;
        max-width: 74rem;
        z-index: 100;

        position: relative;

        padding-bottom: 10em;

        .hlavicka {
            color:white;
            .oblastLoga {
                padding-top: 2.5rem;
                padding-bottom: 0.7rem;
                .tlacitko {
                    text-align: left;
                    .logo {
                        vertical-align: middle;
                        margin-left: -3.7%;
                    }
                    .nadpis {
                        vertical-align: middle;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        margin-left: 1rem;
                    }
                }
            }
            .stavKeDni {
                padding-top: 5rem;
                text-align: right;
                width: 100%;
                
                
            }
        }

        .stranka {
            position: absolute;

            padding: 3rem;

            left: 0;
            width: calc(100% - 6rem);

            background-color: white;
            box-shadow: 0 10px 145px 10px rgb(0 0 0 / 37%);
            min-height: 40em;
        }
    }
}

@media only screen and (max-width: 40em) {
    
    .bg {
        .obsahovyPruh .stranka {
            padding: 0;
            width: 100%;
        }

        .obsahovyPruh {
            .hlavicka {
                .oblastLoga {
                    margin-left: 1rem;
                    .tlacitko {
                        
                        .nadpis {
                            font-size: 1rem;
                            margin-left: 0.5rem;
                        }
                    
                    }
                }
                .stavKeDni {
                    padding-top: 6rem;
                    font-size: 0.7rem;
                }

            }
        }
        
    }
  }
