/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    
}

.plnaSire {
    width: 100%;
}

.cervenyText {
    color: #ee3024;
}

.cervenePozadi {
    background-color: #ee3024;
}